@import "_colors";

/* fonts */
$font-size: 15px;
$font-family: "Poppins", sans-serif;

/* grid */
$gutter-width: 2em;
$max-width: 85em;
$min-width: 68em;

/* colors */
$color-main: $blue;
$color-main-dark: hsl(243, 14%, 31%);

/* layout */
$content-position-top: 8em;