@import "_colors";
@import "__functions";

$browser-s-default-font-size: 16;  //px unit

/* fonts */
$font-size: 15px;
$font-family: "Poppins", sans-serif;

/* grid */
$gutter-width: 2em;
$max-width: 85em;
$min-width: 68em;

/* break points */
$break-point-md: ( $min-width * strip-units($font-size) ) / $browser-s-default-font-size;

/* colors */
$color-main: $blue;
$color-main-dark-extra:   hsl(243, 25%, 20%);
$color-main-dark:         hsl(243, 15%, 30%);
$color-main-light:        hsl(243, 15%, 80%);

$color-secondary:         hsl(173, 100%, 40%);

/* layout */
$content-position-top: 8em;