@import "_colors";

/* fonts */
$font-size: 15px;
$font-family: "Poppins", sans-serif;

/* grid */
$gutter-width: 1.33333em;
$max-width: 85em;

/* colors */
$color-main: $blue;
$color-main-dark: hsl(243, 14%, 31%);

/* layout */
$content-top-padding: 5em;