@import "_grid";

#d2v-content {
  padding-top: $content-position-top;
  min-width: $min-width;
  box-sizing: border-box;
  min-height: 100vh;
}

#d2v-main {
    @include site-max-width;
    @include column-container;

    > .site-text {
      @include column( 7, 12);
      @include column-skip( 3, 12);
      min-width: 50em;

      > * {
        &:first-child {
          margin-top: 0;
        }
      }

      p, ul, ol {
        font-feature-settings: "ss02";
        font-family: 'IBM Plex Serif', serif;
      }

      code {
        background-color: rgba(27,31,35,.05);
        border-radius: 3px;
        font-size: 85%;
        margin: 0;
        padding: .2em .4em;
      }
    }
}

.d2v-code {
  z-index: 75;
  position: relative;
  overflow: hidden;
}
