@import "_grid";

#d2v-menu {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  min-width: $min-width;

  ul,
  ol {
    border-left: solid 1px rgba($color-main, 0.25);
  }

  .active {
    color: $color-main;
  }

  a {
    color: $color-main-dark;
  }

  .menu-fixed & {
    position: fixed;
  }

  .wrap {
    @include site-max-width;
    @include column-container;
    @include container-content-justified;
    overflow: visible;
  }

  #site-navigation {
    @include column(3, 12);
    @include gutter;
    padding-top: 1.25em;
    position: absolute;
    top: $content-position-top + .75em;
    left: 0;

    .menu-fixed & {
      top: 4em;
    }

    > li > a {
      font-weight: 700;
    }
  }
}