@import "_grid";

#d2v-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  transition: box-shadow 500ms ease-in-out;
  box-shadow: 0 -10px 0px 5px rgba(0, 0, 0, 0.05);

  a.github-corner > svg {
    fill: $color-main !important;
  }

  #current-section-name {
    position: absolute;
    color: $color-main-light;
    top: 50%;
    @include column-skip( 3, 12);
    line-height: 2em;
    opacity: 0;
    font-weight: 700;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    transform: translateY(-150%);

    @media (max-width: $break-point-md) {
      margin-left: calc(#{$min-width} / 12 * 3);
    }

    .menu-fixed & {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  .wrap {
    @include site-max-width;
    @include column-container;
    @include container-content-justified;
    overflow: visible;

    .left,
    .right {
      @include column-container;
      align-items: center;
    }

    .right {
      @include gutter;
      overflow: visible;
    }
  }

  .logo, .link-icon {
    display: block;
    height: 50px;
    width: auto;
    padding: 0.3em;
    :hover {
      fill: $color-main;
    }
  }
  .link-icon {
    fill: $color-main-light;
  }
  [class*=d2v-link]:hover {
    .link-icon {
      fill: $color-main;
    }
  }
}

.menu-fixed #d2v-header {
  box-shadow: 0 0 10px 5px hsla(0, 0%, 0%, 0.05);
}