@import "_grid";
@import "ui-table";
@import "ui-note-default";

#d2v-content {
  padding-top: $content-position-top;
  min-width: $min-width;
  box-sizing: border-box;
  min-height: 100vh;

  &.d2v-content--editor {
    padding-top: 0;
    min-height: 0;
  }

  table {
    @include d2v-table;
  }

  /* notes */
  @mixin note-style {
    font-family: 'IBM Plex Serif', serif;

    &:before {
      font-family: $font-family;
    }
  }

  .note {
    @include d2v-note-default;
    @include note-style;
  }

  .info {
    @include d2v-note-info;
    @include note-style;
  }

  .warning {
    @include d2v-note-warning;
    @include note-style;
  }
}

#d2v-main {
    @include site-max-width;
    @include column-container;

    &.d2v-main--full-width {
      max-width: none !important;
    }

    > .site-text {
      @include column( 7, 12);
      @include column-skip( 3, 12);
      min-width: 50em;

      > * {
        &:first-child {
          margin-top: 0;
        }
      }

      p, ul, ol {
        font-family: 'IBM Plex Serif', serif;
      }

      code {
        background-color: rgba(27,31,35,.05);
        border-radius: 3px;
        font-size: 88%;
        margin: 0;
        padding: 0 .4em;
        vertical-align: baseline;
      }
    }
}

.d2v-code {
  z-index: 75;
  position: relative;
  overflow: hidden;
}
