@import "_grid";

#d2v-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: solid 1px $color-main;
  border-bottom: solid 1px $color-main;
  background-color: white;

  a.github-corner > svg {
    fill: #433ee0 !important;
  }

  #current-section-name {
    position: absolute;
    color: $color-main;
    top: 50%;
    @include column-skip( 3, 12);
    border-left: solid 1px $color-main;
    padding-left: 1.5em;
    line-height: 2em;
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    transform: translateY(-150%);

    @media (max-width: $break-point-md) {
      margin-left: calc(#{$min-width} / 12 * 3);
    }

    .menu-fixed & {
      opacity: 1;
      transform: translateY(-50%);
    }
  }

  .wrap {
    @include site-max-width;
    @include column-container;
    @include container-content-justified;

    .left,
    .right {
      @include column-container;
      align-items: center;
    }

    .right {
      @include gutter;
      padding-right: 5em;
    }
  }

  .logo, #main-page-icon {
    display: block;
    height: 50px;
    width: auto;
    padding: 0.3em;
  }
}
