@import "_grid";

#d2v-footer {
  position: relative;
  z-index: 10000;
  padding-top: $gutter-width;
  padding-bottom: $gutter-width / 2;
  margin-top: 6em;
  background-color: $color-main-dark;
  color: white;

  .wrap {
    @include column-container;
    @include site-max-width;

    > * {
      @include column(4 ,12);
      @include gutter;
      font-size: .85em;
    }

    #logo-footer {
      width: 15em;
      max-width: 100%;
      height: auto;
      transform: translateX(-$gutter-width / 2);
    }
  }
}
