@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/PoppinsLatin-Regular.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/PoppinsLatin-Italic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/PoppinsLatin-SemiBold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/PoppinsLatin-SemiBoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}


@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext');


