@import "_grid";

$menu-padding: $gutter-width / 2;

ul.menu,
[class*="d2v-menu"] {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  > * {
    text-decoration: none;
  }
}

.d2v-menu-horizontal {
  @include column-container;

  > * {
    display: block;
  }

  > * + *:not(.no-marge) {
    margin-left: $gutter-width;
  }
}

.d2v-menu-vertical {

  & ul,
  & ol,
  & &,
  ul ul,
  ul ol,
  ul &,
  ol ul,
  ol ol,
  ol & {
    margin: 0;
  }

  ul,
  ol {
    padding: 0 0 0 $menu-padding;
    list-style: none;
  }

  li {
    display: block;
  }

  > * + *:not(.no-marge),
  ul > * + *:not(.no-marge),
  ol > * + *:not(.no-marge),
  li > * + *:not(.no-marge) {
    padding-top: $menu-padding;
  }
}