//todo set variables
@mixin d2v-blockquote {
  border-collapse: collapse;
  border: solid 1px hsla(240, 20%, 75%, 0.25);
  box-shadow: 0 5px 10px -5px hsla(240, 50%, 60%, 0.15);
  border-radius: 5px;
  display: block;
  overflow: hidden;
  line-height: 1.5em;
  margin: 0;
  padding-left: 1em;
  background-color: hsla(240, 15%, 97%, 1);
}
