@import "_params";

//todo set variables
@mixin d2v-note-default {
  position: relative;
  background: #F7F7FA;
  padding: 0.6em 1.2em .9em;
  margin-left: 0;
  margin-top: 3em;
  margin-bottom: 3em;
  //font-weight: 600;
  //font-size: 1em;
  //line-height: 1.6em;

  &:before {
    display: block;
    content: "note";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-1.3em);
    color: #737380;
    font-weight: 600;
    font-family: $font-family;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin d2v-note-info {
  @include d2v-note-default;
  background: #F5F5FC;

  &:before {
    content: "info";
    color: #433EE0;
  }
}

@mixin d2v-note-warning {
  @include d2v-note-default;
  background: #FCF5F5;

  &:before {
    content: "warning";
    color: #DD272D;
  }
}
