@import "_params";

button,
.d2v-button,
[class*=d2v-button] {
  line-height: 1ex;
  display: inline-block;
  padding: 1.5em;
  color: white;
  background-color: $color-main;
  border-radius: 0.1em;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.d2v-button-transparent {
  color: $color-main-dark-extra;
  background-color: transparent;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.d2v-button-small {
  font-size: 0.75em;
}

[class*=d2v-link] {
  display: inline-block;
  position: relative;
  border-bottom: none !important;
  overflow: visible;

  > * {
    display: block;
  }

  .title {
    position: absolute;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.05);
    color: $color-main-dark-extra;
    z-index: 10000;
    padding: .5em;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.25);
    font-size: 0.85em;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    transform: translateY(50%);
    opacity: 0;
    white-space: nowrap;
    left: 0;
    bottom: 0;
  }

  &:hover {
    .title {
      transition-delay: 500ms;
      transform: translateY(100%);
      opacity: 1;
    }
  }
}

.d2v-link-ltr {
  .title {
    left: initial;
    right: 0;
  }
}