@import "font-loader";
@import "init";

@import "ui-button";
@import "ui-menu";

@import "code-mirror";

@import "component-d2v-header";
@import "component-d2v-menu";
@import "component-d2v-content";
@import "component-d2v-footer";

// @todo add js scroll
// prevent anchor overflow with fixed top elements
.site-text > h2 {
  padding-top: 5em;
  margin-top: -3.4em;
}
.site-text > h3 {
  padding-top: 5em;
  margin-top: -3.8em;
}